$dominant-color: #201728;
$light-purple-color: #6F249B;
$darker-purple-color: #5E2083;
$main-font: url('../fonts/Montserrat/Montserrat-Regular.ttf');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

html {
	font-family: $main-font;
}

body {
	color: white;
}

header {
	section {
		background-image: url('../img/hearo-top.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.overlay {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 7000;
			top: 0;
			left: 0;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0, 0.9);
			overflow-x: hidden;
			transition: 0.5s;

			a {
				padding: 8px;
				text-decoration: none;
				font-size: 36px;
				color: #818181;
				display: block;
				transition: 0.3s;
				
				&:hover, &:focus {
					color: #f1f1f1;
				}
			}

			.closeBtn {
				position: absolute;
				top: 2rem;
				left: 2rem;
				font-size: 60px;
				}

			.overlay-content {
				position: relative;
				top: 25%;
				width: 100%;
				text-align: center;
				margin-top: 30px;
				}
		  }

		.burger {
			font-size: 2.1rem;
			cursor: pointer;
			position: absolute;
			top: 1rem;
			left: 2rem;
		}

		.logo {
			position: absolute;
			padding: 2rem;
			top: 40%;
		}

		.arrow-nav {
			display: none;
			.arrow-down {
				position: absolute;
				bottom: 5%;
				right: 48%;
				transition: all 0.7s ease;
	
				&:hover {
					bottom: 8%;
				}
			}
		}
	}
}

main {
	background-color: $dominant-color;
	@mixin sub-section{
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: $light-purple-color;
		overflow: hidden;
		height: auto;
		width: 100%;


		header {
			display: flex;
			flex-wrap: wrap;
			font-size: 32px;
			padding: 1rem;
			margin-top: 1rem;
			margin-left: 1rem;
		}

		.button {
			position: relative;
			width: 175px;
			height: 50px;
			border: solid 2px #B21A4E;
			background: transparent;
			color: white;
			text-transform: uppercase;

			.arrow-btn-right {
				position: absolute;
				right: -15%;
				top: 30%;
			}
		}

		p {
			z-index: 6000;
			margin: 1rem;
			padding: 1rem;
			padding-top: 3rem;
			letter-spacing: .2rem;
		}


		.main-img {
			height: 256px;
			width: 100%;
			box-shadow: 1px 1px 1.5px 1.5px #130e183f;
		}
	}

	#info-box {
		@include sub-section();
		transform: skewY(-20deg);
		box-shadow: 3px 3px 3px 3px #130e183f;
		position: relative;
		z-index: 5000;
		border-radius: 0.1rem;

		p {
			margin-top: 2rem;
			transform: skewY(20deg);;
		}

		.button {
			transform: skewY(20deg);
			margin-top: -2rem;
			margin-left: 2rem;
			margin-bottom: 3rem;
		}
	}

	.sub-1 {
		@include sub-section();
		background-color: $dominant-color;
		margin-top: 2rem;
		
		header {
			z-index: 6000;
			.waves {
				bottom: -50%;
				left: 4.5%;
			}
		}

		.hex-img {
			position: absolute;
			height: 248px;
			width: 264px;
			left: 35%;
			top: 20%;
		}

		.button {
			margin-left: 2rem;
			margin: 2rem;
			margin-bottom: 2rem;
		}

		div {
			position: relative;
			padding: 2rem;
			margin-bottom: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.arrow-image {
				margin-top: 3rem;
				height: 64px;
			}
		}
	}

	.sub-2 {
		@include sub-section();

		.circle-img {
			position: absolute;
			height: 248px;
			width: 264px;
			left: -20%;
			top: 0;
		}

		.button {
			margin-left: 2rem;
			margin: 2rem;
			margin-bottom: 2rem;
		}

		div {
			position: relative;
			padding: 2rem;
			margin-bottom: 2rem;

			.arrow-img-2-1 {
				position: absolute;
				height: 72px;
				width: 32px;
				bottom: 0;
				left: 10%;
			}

			
			.arrow-img-2-2 {
				position: absolute;
				height: 72px;
				width: 32px;
				bottom: 0;
				right: 10%;
			}
	
		}
		

	}

	@mixin card($image) {
		position: relative;
		background-image: $image;
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		margin: 0.5rem 1rem;
		box-shadow: 1px 1px 1.5px 1.5px #130e183f;
		transition: all 0.7s ease;

		
		&:hover {
			transform: scale(1.005);
			box-shadow: 5px 5px 5px 5px #130e183f;
		}

		header {
			margin-left: 1rem;
		}

		main {
			background-color: inherit;
			margin-top: 3rem;
			margin-left: 1rem;
			margin-right: 1rem;
			margin-bottom: 1rem;
			height: 192px;
			font-size: 32px;
		}

		footer {
			position: relative;
			bottom: 0;
			background: transparent;
			padding: 0;
			margin-top: auto;
			margin-left: auto;
			margin-right: 1rem;
			width: fit-content;

			img {
				transition: all 0.7s ease;
				overflow: hidden;
				
				&:hover {
					transform: translateX(-20%);
				}
			}
		}
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background-color: white;
		padding-top: 2rem;
		padding-bottom: 2rem;

	}

	.square {
		@include card (url('../img//bg-square-gradient.png'));
	}

	.rectangle {
		@include card (url('../img//bg-rectangle-gradient.png'));
	}

	.circle {
		@include card (url('../img//bg-circle-gradient.png'));
	}

}

	


footer {
	font-family: $main-font;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	padding: 3rem;
	background: $dominant-color;

	div {
		padding: 1rem;
	}
}
