@font-face {
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-family: MontSerrat;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Medium.ttf");
  font-family: FairDisplay;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: 'MontSerrat';
}

body {
  color: white;
}

button {
  font-family: sans-serif;
}

@media (min-width: 801px) {
  /*Laptop and Desktop*/
  header section .arrow-nav .arrow-down {
    bottom: 8% !important;
    right: 50% !important;
  }
  header section .arrow-nav .arrow-down:hover {
    bottom: 10% !important;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 101% !important;
  }
  main #info-box {
    width: 60% !important;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  main #info-box p {
    font-size: 48px !important;
  }
  main .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row !important;
            flex-flow: row !important;
    width: 100%;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  main .cards .square, main .cards .rectangle, main .cards .circle {
    margin: auto;
    width: 30%;
    height: auto;
  }
  main .cards .square .card, main .cards .rectangle .card, main .cards .circle .card {
    width: 300px;
    height: 300px;
  }
  main .cards .square header, main .cards .rectangle header, main .cards .circle header {
    font-size: larger;
    margin: 1rem;
  }
  main .cards .square main, main .cards .rectangle main, main .cards .circle main {
    font-size: 32px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 !important;
    height: auto;
  }
  main .cards .square footer, main .cards .rectangle footer, main .cards .circle footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  main .sub-2 header {
    position: absolute;
    top: 17%;
    right: 22%;
    font-size: 64px !important;
    color: whitesmoke !important;
  }
  main .sub-2 p {
    position: absolute;
    top: 25.5%;
    right: 18%;
    width: 22%;
    text-align: initial !important;
    letter-spacing: 0.25rem !important;
    font-weight: 100 !important;
    color: rgba(245, 245, 245, 0.714) !important;
  }
  main .sub-2 .circle-img {
    top: 5% !important;
    left: 41%;
    height: 501px !important;
    width: 501px !important;
  }
  main .sub-2 .button {
    position: absolute !important;
    top: 53% !important;
    right: 26.5%;
  }
  main .sub-2 div {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding-bottom: 7rem !important;
    padding-top: 10rem !important;
  }
  main .sub-2 div .main-img {
    height: 450px !important;
    width: 700px !important;
    margin-bottom: 8rem !important;
    margin-left: 7rem !important;
  }
  main .sub-2 div .arrow-img-2-2 {
    bottom: 18% !important;
    right: 0;
    height: auto !important;
    width: auto !important;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row !important;
            flex-flow: row !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer div span {
    font-size: larger;
  }
  footer div p {
    font-size: smaller;
  }
}

header section {
  background-image: url("../img/hearo-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 7000;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header section .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header section .overlay a:hover, header section .overlay a:focus {
  color: #f1f1f1;
}

header section .overlay .closeBtn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 60px;
}

header section .overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

header section .burger {
  font-size: 2.1rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

header section .logo {
  position: absolute;
  padding: 2rem;
  top: 40%;
}

header section .arrow-nav .arrow-down {
  position: absolute;
  bottom: 5%;
  right: 48%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header section .arrow-nav .arrow-down:hover {
  bottom: 8%;
}

main {
  background-color: #201728;
}

main #info-box {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6F249B;
  overflow: hidden;
  height: auto;
  width: 100%;
  -webkit-box-shadow: 3px 3px 3px 3px #130e183f;
          box-shadow: 3px 3px 3px 3px #130e183f;
  position: relative;
  z-index: 5000;
  border-radius: 0.1rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

main #info-box header {
  font-size: 40px;
  padding: 1rem;
  margin-top: 1rem;
}

main #info-box .button {
  position: relative;
  width: 175px;
  height: 50px;
  border: solid 2px #B21A4E;
  background: transparent;
  color: white;
  text-transform: uppercase;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

main #info-box .button:hover, main #info-box .button :focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-size: large;
}

main #info-box .button .arrow-btn-right {
  position: absolute;
  right: -15%;
  top: 30%;
}

main #info-box p {
  z-index: 6000;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  letter-spacing: .1rem;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

main #info-box .main-img {
  height: 264px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main #info-box p {
  letter-spacing: .1rem;
  font-family: "MontSerrat";
  font-weight: lighter;
  font-size: 24px;
}

main #info-box .button {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 6rem;
}

main .sub-1 {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6F249B;
  overflow: hidden;
  height: auto;
  width: 100%;
  background-color: #201728;
}

main .sub-1 header {
  font-size: 40px;
  padding: 1rem;
  margin-top: 1rem;
}

main .sub-1 .button {
  position: relative;
  width: 175px;
  height: 50px;
  border: solid 2px #B21A4E;
  background: transparent;
  color: white;
  text-transform: uppercase;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

main .sub-1 .button:hover, main .sub-1 .button :focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-size: large;
}

main .sub-1 .button .arrow-btn-right {
  position: absolute;
  right: -15%;
  top: 30%;
}

main .sub-1 p {
  z-index: 6000;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  letter-spacing: .1rem;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

main .sub-1 .main-img {
  height: 264px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main .sub-1 .hex-img {
  position: absolute;
  height: 248px;
  width: 264px;
  left: 35%;
  top: 20%;
  margin-top: 2rem;
}

main .sub-1 .button {
  margin: 2rem;
  margin-bottom: 2rem;
}

main .sub-1 div {
  position: relative;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sub-1 div .arrow-image {
  margin-top: 3rem;
  height: 64px;
}

main .sub-1 div .waves {
  position: absolute;
  top: 0;
  right: 15%;
  height: 70px;
  width: 34px;
}

main .sub-2 {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6F249B;
  overflow: hidden;
  height: auto;
  width: 100%;
}

main .sub-2 header {
  font-size: 40px;
  padding: 1rem;
  margin-top: 1rem;
}

main .sub-2 .button {
  position: relative;
  width: 175px;
  height: 50px;
  border: solid 2px #B21A4E;
  background: transparent;
  color: white;
  text-transform: uppercase;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

main .sub-2 .button:hover, main .sub-2 .button :focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-size: large;
}

main .sub-2 .button .arrow-btn-right {
  position: absolute;
  right: -15%;
  top: 30%;
}

main .sub-2 p {
  z-index: 6000;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  letter-spacing: .1rem;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

main .sub-2 .main-img {
  height: 264px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main .sub-2 header {
  text-align: center;
  z-index: 1000;
}

main .sub-2 .circle-img {
  position: absolute;
  height: 248px;
  width: 264px;
  top: 0;
  right: -10%;
}

main .sub-2 .button {
  margin: 2rem;
  margin-bottom: 2rem;
}

main .sub-2 div {
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
}

main .sub-2 div .arrow-img-2-2 {
  position: absolute;
  height: 72px;
  width: 32px;
  bottom: 0;
  right: 10%;
}

main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main .square {
  position: relative;
  background-image: url("../img//bg-square-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

main .square:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-box-shadow: 5px 5px 5px 5px #130e183f;
          box-shadow: 5px 5px 5px 5px #130e183f;
  cursor: pointer;
}

main .square header {
  margin-left: 1rem;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #B21A4E;
}

main .square main {
  background-color: inherit;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 192px;
  font-size: 32px;
}

main .square footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .square footer img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  overflow: hidden;
}

main .square footer img:hover {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

main .rectangle {
  position: relative;
  background-image: url("../img//bg-rectangle-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

main .rectangle:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-box-shadow: 5px 5px 5px 5px #130e183f;
          box-shadow: 5px 5px 5px 5px #130e183f;
  cursor: pointer;
}

main .rectangle header {
  margin-left: 1rem;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #B21A4E;
}

main .rectangle main {
  background-color: inherit;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 192px;
  font-size: 32px;
}

main .rectangle footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .rectangle footer img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  overflow: hidden;
}

main .rectangle footer img:hover {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

main .circle {
  position: relative;
  background-image: url("../img//bg-circle-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

main .circle:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-box-shadow: 5px 5px 5px 5px #130e183f;
          box-shadow: 5px 5px 5px 5px #130e183f;
  cursor: pointer;
}

main .circle header {
  margin-left: 1rem;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #B21A4E;
}

main .circle main {
  background-color: inherit;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 192px;
  font-size: 32px;
}

main .circle footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .circle footer img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  overflow: hidden;
}

main .circle footer img:hover {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem;
  background: #201728;
}

footer div {
  padding: 1rem;
}

footer div span {
  font-family: 'FairDisplay';
  color: #B21A4E;
}

footer div p {
  font-family: sans-serif;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

footer div p:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
/*# sourceMappingURL=styles.css.map */