$dominant-color: #201728;
$light-purple-color: #6F249B;
$darker-purple-color: #5E2083;
$pink-red-color: #B21A4E;
@font-face {
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
	font-family: MontSerrat;
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Medium.ttf');
	font-family: FairDisplay;
}

@media (min-width:801px)  { 
	/*Laptop and Desktop
	683 x 470 main img
	*/
	header {
		section {
			.arrow-nav {
				.arrow-down {
					bottom: 8% !important;
					right: 50% !important;

					&:hover {
						bottom: 10% !important;
					}
				}
			}
		}
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 101% !important;
		#info-box {
			width: 60% !important;
			transform: translateY(-10%);
			
			p {
				font-size: 48px !important;
			}
		}

		.cards {
			display: flex;
			flex-flow: row !important;
			width: 100%;
			
			padding-top: 5rem !important;
			padding-bottom: 5rem !important;
			padding-left: 4rem !important;
			padding-right: 4rem !important;

			.square, .rectangle, .circle {
				margin: auto;
				width: 30%;
				height: auto;

				.card {
					width: 300px;
					height: 300px;
				}


			header {
				font-size: larger;
				margin: 1rem;
			}

			main {
				font-size: 32px;
				padding-left: 1rem;
				padding-right: 1rem;
				margin: 0 !important;
				height: auto;
			}

			footer {
				position: absolute;
				bottom: 1rem ;
				right: 1rem;
			}
			}
		}

		.sub-2 {
			div {
				width: fit-content !important;
				.main-img {
					height: 500px !important;
					width: 700px !important;
					margin-bottom: 10rem !important;
					margin-left: 5rem !important;
				}
				.arrow-img-2-2 {
					bottom: 10% !important;
					right: 0;
					height: auto !important;
					width: auto !important;
				}
			}
			
		}
	}

	footer {
		display: flex;
		flex-flow: row !important;
		justify-content: space-evenly;

		div {
			span {
				font-size: larger;
			}

			p {
				font-size: smaller;
			}
		}
	}


}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

html {
	font-family: 'MontSerrat';
}

body {
	color: white;
}

button {
	font-family: sans-serif;
}

header {
	section {
		background-image: url('../img/hearo-top.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.overlay {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 7000;
			top: 0;
			left: 0;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0, 0.9);
			overflow-x: hidden;
			transition: 0.5s;

			a {
				padding: 8px;
				text-decoration: none;
				font-size: 36px;
				color: #818181;
				display: block;
				transition: 0.3s;
				
				&:hover, &:focus {
					color: #f1f1f1;
				}
			}

			.closeBtn {
				position: absolute;
				top: 2rem;
				left: 2rem;
				font-size: 60px;
				}

			.overlay-content {
				position: relative;
				top: 25%;
				width: 100%;
				text-align: center;
				margin-top: 30px;
				}
		  }

		.burger {
			font-size: 2.1rem;
			cursor: pointer;
			position: absolute;
			top: 1rem;
			left: 2rem;
		}

		.logo {
			position: absolute;
			padding: 2rem;
			top: 40%;
		}

		.arrow-nav {
			.arrow-down {
				position: absolute;
				bottom: 5%;
				right: 48%;
				transition: all 0.7s ease;
	
				&:hover {
					bottom: 8%;
				}
			}
		}
	}
}

main {
	background-color: $dominant-color;
	@mixin sub-section{
		text-align: center;
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: $light-purple-color;
		overflow: hidden;
		height: auto;
		width: 100%;


		header {
			font-size: 40px;
			padding: 1rem;
			margin-top: 1rem;
		}

		.button {
			position: relative;
			width: 175px;
			height: 50px;
			border: solid 2px $pink-red-color;
			background: transparent;
			color: white;
			text-transform: uppercase;
			justify-self: center;
			align-self: center;
			transition: all 0.7s;

			&:hover, :focus {
				cursor: pointer;
				transform: scale(1.1);
				font-size: large;
			}

			.arrow-btn-right {
				position: absolute;
				right: -15%;
				top: 30%;
			}
		}

		p {
			z-index: 6000;
			text-align: center;
			margin: 1rem;
			padding: 1rem;
			padding-top: 3rem;
			letter-spacing: .1rem;
			font-family: sans-serif;
			font-weight: 100;
			font-size: 14px;
		}


		.main-img {
			height: 264px;
			width: 100%;
			box-shadow: 1px 1px 1.5px 1.5px #130e183f;
		}
	}

	#info-box {
		@include sub-section();
		box-shadow: 3px 3px 3px 3px #130e183f;
		position: relative;
		z-index: 5000;
		border-radius: 0.1rem;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

		p {
			letter-spacing: .1rem;
			font-family: "MontSerrat";
			font-weight: lighter;
			font-size: 24px;
		}

		.button {
			justify-self: center;
			align-self: center;
			margin-bottom: 6rem;
		}
	}

	.sub-1 {
		@include sub-section();
		background-color: $dominant-color;

		.hex-img {
			position: absolute;
			height: 248px;
			width: 264px;
			left: 35%;
			top: 20%;
			margin-top: 2rem;
		}

		.button {
			margin: 2rem;
			margin-bottom: 2rem;
		}

		div {
			position: relative;
			padding: 2rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.arrow-image {
				margin-top: 3rem;
				height: 64px;
			}

			.waves {
				position: absolute;
				top: 0;
				right: 15%;
				height: 70px;
				width: 34px;
			}
		}
	}

	.sub-2 {
		@include sub-section();

		header {
			text-align: center;
			z-index: 1000;
		}

		.circle-img {
			position: absolute;
			height: 248px;
			width: 264px;
			top: 0;
			right: -10%;
		}

		.button {
			margin: 2rem;
			margin-bottom: 2rem;
		}

		div {
			position: relative;
			padding: 2rem;
			margin-bottom: 2rem;

			
			.arrow-img-2-2 {
				position: absolute;
				height: 72px;
				width: 32px;
				bottom: 0;
				right: 10%;
			}
	
		}
		

	}

	@mixin card($image) {
		position: relative;
		background-image: $image;
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		margin: 0.5rem 1rem;
		box-shadow: 1px 1px 1.5px 1.5px #130e183f;
		transition: all 0.7s ease;

		
		&:hover {
			transform: scale(1.005);
			box-shadow: 5px 5px 5px 5px #130e183f;
			cursor: pointer;
		}

		header {
			margin-left: 1rem;
			font-family: sans-serif;
			font-weight: normal;
			font-size: 13px;
			color: $pink-red-color;
		}

		main {
			background-color: inherit;
			margin-top: 3rem;
			margin-left: 1rem;
			margin-right: 1rem;
			margin-bottom: 1rem;
			height: 192px;
			font-size: 32px;
		}

		footer {
			position: relative;
			bottom: 0;
			background: transparent;
			padding: 0;
			margin-top: auto;
			margin-left: auto;
			margin-right: 1rem;
			width: fit-content;

			img {
				transition: all 0.7s ease;
				overflow: hidden;
				
				&:hover {
					transform: translateX(-20%);
				}
			}
		}
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		background-color: white;
		padding-top: 2rem;
		padding-bottom: 2rem;

	}

	.square {
		@include card (url('../img//bg-square-gradient.png'));
	}

	.rectangle {
		@include card (url('../img//bg-rectangle-gradient.png'));
	}

	.circle {
		@include card (url('../img//bg-circle-gradient.png'));
	}

}

	


footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	padding: 3rem;
	background: $dominant-color;

	div {
		padding: 1rem;

		span {
			font-family: 'FairDisplay';
			color: $pink-red-color;
		}

		p {
			font-family: sans-serif;
			transition: all 0.7s;

			&:hover {
				cursor: pointer;
				transform: scale(1.01);
			}
		}
	}
}
