* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

body {
  color: white;
}

header section {
  background-image: url("../img/hearo-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main .bg-lightPurple {
  background-color: #6F249B;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

main .bg-lightPurple header {
  font-size: 64px;
  padding: 1rem;
  margin-top: 1rem;
}

main .bg-lightPurple p {
  z-index: 10000;
  margin: 1rem;
  padding: 1rem;
  letter-spacing: .2rem;
}

main .bg-lightPurple .main-img {
  position: relative;
  height: 256px;
  width: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

main .bg-lightPurple .circle-img {
  height: 248px;
  width: 264px;
  -webkit-transform: translate(60%, -150%);
          transform: translate(60%, -150%);
}

main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white cover no-repeat;
}

main .square {
  background-image: url("../img//bg-square-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
}

main .square header {
  margin-left: 1rem;
}

main .square main {
  margin-left: 1.5rem;
}

main .square footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

main .rectangle {
  background-image: url("../img//bg-rectangle-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
}

main .rectangle header {
  margin-left: 1rem;
}

main .rectangle main {
  margin-left: 1.5rem;
}

main .rectangle footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

main .circle {
  background-image: url("../img//bg-circle-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
}

main .circle header {
  margin-left: 1rem;
}

main .circle main {
  margin-left: 1.5rem;
}

main .circle footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

footer {
  font-family: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem;
  background: #201728;
}

footer div {
  padding: 1rem;
}
/*# sourceMappingURL=styles.css.map */