* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

body {
  color: white;
}

header section {
  background-image: url("../img/hearo-top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .logo {
  position: absolute;
  padding: 2rem;
  top: 40%;
}

header section .arrow-down {
  padding: 1rem;
  position: absolute;
  bottom: 5%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header section .arrow-down:hover {
  bottom: 8%;
}

main .sub-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6F249B;
  overflow: hidden;
  height: auto;
  width: 100%;
  background-color: #201728;
}

main .sub-1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 48px;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

main .sub-1 .button {
  position: relative;
  width: 175px;
  height: 50px;
  border: solid 2px #B21A4E;
  background: transparent;
  color: white;
  text-transform: uppercase;
}

main .sub-1 .button .arrow-btn-right {
  position: absolute;
  right: -15%;
  top: 30%;
}

main .sub-1 p {
  z-index: 10000;
  margin: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  letter-spacing: .2rem;
}

main .sub-1 .main-img {
  height: 256px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main .sub-1 header .waves {
  bottom: -50%;
  left: 4.5%;
}

main .sub-1 .hex-img {
  position: absolute;
  height: 248px;
  width: 264px;
  left: 35%;
  top: 20%;
}

main .sub-1 .button {
  margin-left: 2rem;
  margin: 2rem;
  margin-bottom: 2rem;
}

main .sub-1 div {
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sub-1 div .arrow-image {
  margin-top: 3rem;
}

main .sub-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6F249B;
  overflow: hidden;
  height: auto;
  width: 100%;
}

main .sub-2 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 48px;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

main .sub-2 .button {
  position: relative;
  width: 175px;
  height: 50px;
  border: solid 2px #B21A4E;
  background: transparent;
  color: white;
  text-transform: uppercase;
}

main .sub-2 .button .arrow-btn-right {
  position: absolute;
  right: -15%;
  top: 30%;
}

main .sub-2 p {
  z-index: 10000;
  margin: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  letter-spacing: .2rem;
}

main .sub-2 .main-img {
  height: 256px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main .sub-2 .circle-img {
  position: absolute;
  height: 248px;
  width: 264px;
  left: -20%;
  top: 0;
}

main .sub-2 .button {
  margin-left: 2rem;
  margin: 2rem;
  margin-bottom: 2rem;
}

main .sub-2 div {
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
}

main .sub-2 div .arrow-img-2 {
  position: absolute;
  height: 127px;
  width: 31px;
  bottom: -5%;
  right: 10%;
}

main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white cover no-repeat;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main .square {
  background-image: url("../img//bg-square-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main .square header {
  margin-left: 1rem;
}

main .square main {
  margin-top: 3rem;
  margin-left: 1.5rem;
  height: 192px;
}

main .square footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .rectangle {
  background-image: url("../img//bg-rectangle-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main .rectangle header {
  margin-left: 1rem;
}

main .rectangle main {
  margin-top: 3rem;
  margin-left: 1.5rem;
  height: 192px;
}

main .rectangle footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .circle {
  background-image: url("../img//bg-circle-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem 1rem;
  -webkit-box-shadow: 1px 1px 1.5px 1.5px #130e183f;
          box-shadow: 1px 1px 1.5px 1.5px #130e183f;
}

main .circle header {
  margin-left: 1rem;
}

main .circle main {
  margin-top: 3rem;
  margin-left: 1.5rem;
  height: 192px;
}

main .circle footer {
  position: relative;
  bottom: 0;
  background: transparent;
  padding: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer {
  font-family: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem;
  background: #201728;
}

footer div {
  padding: 1rem;
}
/*# sourceMappingURL=styles.css.map */